body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
user-select:none;
pointer-events:none
}

#moneyScore {
    font-size: 41px;
    position: relative;
    transform: translate(40px, -32px);
}

#emerald {
    width: 60px;
    height: 65px;
    background-image: url('PNGS/emerald.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    transform: translate(-40px, 15px);
}

#scoreStar {
    width: 50px;
    height: 50px;
    background-image: url('PNGS/scoreStar.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    transform: translate(-65px, 30px);
}

#scoreBoard {
    margin-top: 10px;
    font-size: 30px;
    transform: translate(0, -850px);
}

#hud {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

#hud span {
    color: #77d5f1;
    font-weight: bold;
}

.grid-container {
    width: 900px; 
    height: 600px; 
    background-color: black;
    background-image: url('/BGS/SPACE.png');
    background-position: center;
    position: relative; 

}

#bossenemy1 {
    width: 320px;
    height: 320px;
    background-image: url('/animatedSprites/purpleboss.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

#john {

    width: 175px;
    height: 175px;
    background-image: url('/animatedSprites/Creature.gif');
    background-position: right;
    position: absolute;
    transform: translate(-400px);
}

#spaceship {
    width: 73px; 
    height: 85px;
    background-image: url('/PNGS/spaceshipshooter.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; 
}

/* Bullet Laser */
.bullet {
    width: 10px;
    height: 60px;
    background-image: url('/PNGS/LaserBullet1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

img {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    pointer-events:none
}